@use "sass:color";
$light-color-0: #ffffff;
$light-color-10: rgba(255, 255, 255, 0.1);
$light-color-60: rgba(255, 255, 255, 0.6);

$black-color-200: #292929;
$black-color-300: #202020;
$black-color-400: #181818;

$accent-color-400: #312eb5;
$accent-color-600: color.scale($accent-color-400, $lightness: -15%);
