@use "@/styles/_mixins.scss" as mixins;

.journal-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 -20px;
  padding: 0 20px;
  overflow-y: auto;

  @include mixins.scroll;
}
